aclocal.m4
AUTHORS
autom4te.cache/
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
COPYING
depcomp
INSTALL
install-sh
lib/.deps/
libtool
ltmain.sh
m4/
Makefile
Makefile.am
Makefile.in
missing
NEWS
src/.deps/
